<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <context:component-scan base-package="com.wan.controller"/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置拦截器-->
    <mvc:interceptors>
        <!--拦截器1-->
        <mvc:interceptor>
            <!--配置拦截器的作用路径。拦截所有以/login结尾的请求，/**表示拦截所有请求-->
            <mvc:mapping path="/**"/>
            <!--配置不需要拦截器作用的路径-->
            <mvc:exclude-mapping path="/index.jsp"/>
            <!--表示对匹配路径的请求才进行拦截-->
            <bean class="com.wan.filter.LoginFilter1"/>
        </mvc:interceptor>
        <!--拦截器2-->
        <mvc:interceptor>
            <!--配置拦截器的作用路径。拦截所有以/login结尾的请求，/**表示拦截所有请求-->
            <mvc:mapping path="/login"/>
            <!--表示对匹配路径的请求才进行拦截-->
            <bean class="com.wan.filter.LoginFilter2"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>